services:
  qdrant:
    image: qdrant/qdrant:v1.16
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage:
